In [1]:
#Importing the libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
cd Downloads

C:\Users\Vidhilika\Downloads

In [3]:
df = pd.read_csv('twitter_user_data.csv', encoding_errors = 'ignore')

In [4]:
df.tail()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,8/5/15 21:16,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,6.587400e+17,Verona,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,6.587300e+17,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,9/3/12 1:17,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,6.587400e+17,Lagos Nigeria,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,11/6/12 23:46,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,6.587300e+17,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,6.587400e+17,NaN,NaN

In [5]:
df['gender'].replace({'unknown': None},inplace =True)

df['gender'].fillna(df['gender'].mode()[0], inplace=True)

In [6]:
#Importing libraries related to Regual expressions

import re
import nltk as nlp
from nltk.corpus import stopwords
lemma = nlp.WordNetLemmatizer() 

nlp.download('punkt')
nlp.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Vidhilika\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Vidhilika\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
#Removing the space
df['description'] = df['description'].str.strip()

In [8]:
#Pre-Process the data
basket = (df
          .groupby(['_unit_id', 'description'])['tweet_count']
          .sum().unstack().reset_index().fillna(0)
          .set_index('_unit_id'))

In [9]:
# Show a subset of columns
basket.head()

description,,!!! mutuals pls warn me when u tweet pics of big/up close eyes thank u,!Liyla_\n\nLashauna&DawannaMyHeart_\n\n\nFREE Jay4_ my uncle8 Deeno7 &my daddy17_,!Valentines Day! \n\nDrake. El m_ Pap__,#1 Alemany Fan and # 1 UPS driver,#1 Bestselling author of The Power of #realestate #investing. I went from homeless to having multi million $ portfolio. I'd love to show you how to do the same.,#1 For New Country! \n\nAn #iHeartCountry station!,#1 Harry boxing stan,#1 Intern + Promoter for http://t.co/FYr7p4RSzs http://t.co/HvyeuMEchO,#1 Michael in Jet Black Heart stan Muke/4. \n\n\n\n\n\n\n\n BUY SGFG ON ITUNES,...,㯤 __ 㯤 __ __ _ \n.\n.\n\nA land that we can not defend ...we do not deserve to live on it\n.\n.\n\n ɯ_ __ ί_ _,㯤 ___ _ _ ...į 㯻 _ ᯬ_ _ į_௤ __,㯤 ¯_ _ ɯ _ __ _㯤 _ 㯤_,㯤 ɯ¯ _ ί,㯨 _ 㯣 _ _ __,"塉_ styles, edwards, dallas, jenner, tomlinson gomez & reed.ۤ_","桇 f꬇ 弇 ', 弇 ᇵ ', 弇 袇p f꬇' '",􁯤 _ _ _ 㯱__,􁯦 ɯ _ ɯ į .,􁯻 į _ 㯤 㯣__ .. _ɯ _ _ _ __ __ .. ____ _ _ \n\n \n\nhttp://t.co/q4xanHIZXV
_unit_id,,,,,,,,,,,,,,,,,,,,,
815719226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
815719227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
815719228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
815719229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
815719230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Convert the units to 1 hot encoded values
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [11]:
basket_sets = basket.applymap(encode_units)

In [12]:
from mlxtend.frequent_patterns import apriori
#!pip insall apyori
#from apyori import apriori
from mlxtend.frequent_patterns import association_rules

In [13]:
# Build up the frequent items
frequent_itemsets = apriori(basket_sets, min_support=0.001, use_colnames=True)

C:\Users\Vidhilika\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [14]:
frequent_itemsets

    support                                           itemsets
0  0.001105  ('Cos even an old girl's best friend is still ...
1  0.001964  (Subscribe to her Inspirational channel here h...
2  0.001473  (The Map Game is a free geography quiz based o...
3  0.002026  (You can be spiritually empowered, financially...
4  0.001657                         (secret little rendezvous)

In [15]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0)
rules.describe()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN